---
name: cicd

on:
  push:
    paths:
      - src/**
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Set up variables
        shell: bash
        run: |
          echo "commit_id=${GITHUB_SHA::6}" >> "$GITHUB_ENV"
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/python-app:${{ env.commit_id }}
  
  cd:
    needs: ci
    runs-on: self-hosted
    steps:
      - name: ArgoCd app sync
        shell: bash
        run: |
          argocd login argocd-server.argocd \
            --insecure /
            --grpc-web /
            --username admin /
            --password ${{ secrets.ARGOCD_PASSWORD }}

          argocd app sync python-app

